-@ val title: String = "Scalatra-AngularJS Twitter Search"
- attributes("title") = title

.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#") =title

.container
  .ng-scope(ng-controller="TwitterCtrl")
    form.form-horizontal
      input(type="text" ng-model="searchTerm")
      button.btn(ng-click="doSearch()")
        i.icon-search
        | Search
    .well.well-medium(ng-repeat="tweet in twitter.results")
      i.icon-user(ng-click="isCollapsed = !isCollapsed")
      | {{tweet.from_user_name}}
      .muted(collapse="isCollapsed") {{tweet.text}}
